<section class="state-payment">

  {{#if hasProcessedPayment}}
    <div class="alert alert-success" role="alert">
      <p>Order placed successfully!</p>
    </div>
  {{else}}
    {{payment-form isDebug=true canResubmit=hasSubscriptionErrors onPaymentToken='handlePaymentToken'}}
  {{/if}}

</section>