<section class="state-payment">

  {{#if hasProcessedPayment}}
    <p>Order placed successfully!</p>
  {{else}}
    {{payment-form isDebug=true canResubmit=hasSubscriptionErrors onPaymentToken='handlePaymentToken'}}
  {{/if}}

</section>