<section class="state-account">

  <div class="account-details">
    <div class="row">
      <div class="title">Account Level</div>
      <div class="description">
        {{link-to 'Manage Subscription' 'settings.billing'}}
        <p>Next charge is &lt;date goes here&gt;</p>
      </div>
    </div>

    <div class="row">
      <div class="title">Tell your Friends</div>
      <div class="description">
        <a href="#" {{action 'shareWithFriends'}}>Let friends know about Fido</a>
      </div>
    </div>

    <div class="row">
      <div class="title">Email</div>
      <div class="description">
        &lt;email address here&gt;
        <br>
        <a href="#" {{action 'manageEmailDetails'}}>Manage email address</a>
      </div>
    </div>

    <div class="row">
      <div class="title">Member Since</div>
      <div class="description">
        &lt;membership date here&gt;
      </div>
    </div>
  </div>

</section>