<section class="state-index">

  <div class="account-details">
    <div class="row">
      <div class="title">First Name</div>
      <div class="description">
        &lt;first name here&gt;
      </div>
    </div>

    <div class="row">
      <div class="title">Last Name</div>
      <div class="description">
        &lt;last name here&gt;
      </div>
    </div>

    <div class="row">
      <div class="title">Email Address</div>
      <div class="description">
        &lt;email address here&gt;
      </div>
    </div>

    <div class="row">
      <div class="title">Password</div>
      <div class="description">
        • • • • • • • •
      </div>
    </div>

    <div class="row">
      <div class="title">Member Since</div>
      <div class="description">
        &lt;membership date here&gt;
      </div>
    </div>

    <div class="controls">
      {{link-to 'Edit Account' 'settings.account.edit' class="btn btn-primary"}}
      {{link-to 'Change Password' 'settings.account.password' class="btn btn-default"}}
    </div>
  </div>

</section>