<article class="page-dashboard">

  <section class="side-panel">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="badge">{{ model.contacts.length }}</span>
        {{link-to 'Contacts' 'contacts'}}
      </li>

      <li class="list-group-item">
        <span class="badge">{{ model.occasions.length }}</span>
        Occasions
      </li>
    </ul>
  </section>

  <section class="content">
    <p>Dashboard content...</p>
  </section>

</article>