<section class="state-personal">

  <div class="account-details">
    <div class="row">
      <div class="title">Emails</div>
      <div class="description">
        <p>I am interested in the following types of emails from Fido:</p>
        <div class="checkbox">
          <label>
            {{input type="checkbox" name="option1" checked=option1}}
            Option One
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{input type="checkbox" name="option2" checked=option2}}
            Option Two
          </label>
        </div>

        <div class="checkbox">
          <label>
            {{input type="checkbox" name="option3" checked=option3}}
            Option Three
          </label>
        </div>
      </div>
    </div>

    <div class="controls">
      <button class="btn btn-primary">Save Changes</button>
    </div>
  </div>

</section>