<section class="state-billing">

  <div class="well">
    <h2>Subscription Details</h2>
    <p>
      Your account will be billed
      <strong>{{format-currency model.subscription.price}}</strong>
      on
      <strong>{{moment-format model.subscription.nextBillingDate 'LL'}}</strong>
    </p>
  </div>

  <div class="account-details">
    <div class="row">
      <div class="title">Payment Method</div>
      <div class="description">
        {{credit-cards-list cards=model.cards}}
        <hr>
        {{link-to 'Add Card' 'settings.billing.add' class="btn btn-primary"}}
      </div>
    </div>
  </div>

</section>