<h1 id="title">Welcome to Fido</h1>

<nav>
  {{#if session.isAuthenticated}}
    <a href="#" {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    {{#link-to 'login'}}Login{{/link-to}}
  {{/if}}
</nav>

{{outlet}}
